/* CSS para ser vínculado na página da atividade */

.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
}

.dropText {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 120px;
}

.dropText span {
    padding: 12px 25px;
    display: block;
}

.dropText span img {
    margin-right: 10px;
}

.dropText span:hover {
    background-color: lightcyan;
}

.dropdown:hover .dropText {
    display: block;
}